<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>
        Custom Icon Badges
    </title>
    <style>
        a {
            text-decoration: none;
        }
    </style>
</head>
<body>
    <div class="container">
        <div class="row">
            <div class="col-md-12">
                <h1>Custom Icon Badges</h1>
                <div class="row">
                    <div class="col-md-4">
                        <div class="icon-badge">
                            <a href="https://github.com/PrathmeshSoni?tab=repositories&sort=stargazers">
                                <img alt="total stars" title="Total stars on GitHub"
                                     src="https://custom-icon-badges.prathmeshsoni.works/github/stars/?username=prathmeshsoni" style="max-width: 100%;">
                            </a>
                            <a href="https://github.com/PrathmeshSoni?tab=followers">
                                <img alt="repo stars" title="Follow me on Github"
                                     src="https://custom-icon-badges.prathmeshsoni.works/github/followers/?username=prathmeshsoni"  style="max-width: 100%;">
                            </a>
                            <a href="https://github.com/PrathmeshSoni/">
                                <img alt="Profile Views" title="GitHub profile views"
                                     src="https://custom-icon-badges.prathmeshsoni.works/github/visitors" style="max-width: 100%;">
                            </a>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

</body>
</html>